* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: black;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	perspective: 800px;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 1000ms ease-in-out;
	transform: rotateY(0deg);
}

h1,
h2 {
	font-size: 48px;
}

h1 {
	margin-bottom: 55px;
}

h2 {
	margin-top: 55px;
}

.container-grid {
	display: grid;
	grid-template-columns: repeat(3, 80px);
	grid-template-rows: repeat(3, 80px);
	gap: 2px;
	background-color: white;
	/* optional: grid with border
	border: 2px solid white; 
	*/
}

.box {
	transition: all 100ms ease;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 52px;
	background-color: black;
}

.start {
	color: black;
	border: 2px solid black;
	background-color: white;
}

button {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	width: 248px;
	margin-top: 40px;
	font-size: 48px;
	color: white;
	background-color: black;
	border: 2px solid white;
	transition: all 300ms ease;
	outline: none;
	padding: 10px 0 10px;
}

.if-hovered:hover,
button:hover {
	cursor: pointer;
	color: black;
	border: 2px solid black;
	background-color: white;
}

.if-hovered:hover {
	color: black;
}

button:hover {
	margin-top: 32px;
	border: 6px double black;
}

.no-hover {
	pointer-events: none;
}

.winning-line {
	border: 2px solid black;
	background-color: white;
	color: #000001;
}

.rotate {
	transform: rotateY(2520deg);
}
